.navbar-brand{
    margin-left:5% ;
}

.navbar{
    background:rgba(0, 0, 0, 0.2);
}
.navbar-item{
    color:white;
    text-decoration: none;
}

a.navbar-link {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.navbar-dropdown.is-boxed {
    background-color: #ff555f;
}
.navbar-item.has-dropdown.is-hoverable {
    background-color: transparent;

}
.navbar-dropdown.is-boxed {
    background-color: transparent;

}
.navbar-item:hover{
    background-color: transparent;
}
a.bd-tw-button.button {
    text-decoration: none;
}
a.button.is-primary {
    text-decoration: none;
}

.button.is-primary {
    background-color: #ff555f;
}
