<div class="home-info">
    <div class="home-info-left">
        <div class="content is-large has-text-white">
            <h1>Hello World</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
          </div>
    </div>
    <div class="home-info-right">
        <div class="card">
            <div class="card-image">
            <figure class="image is-4by3">
                <img class="envisionImg" src="../../assets/img/Virgin-Envision-Racing_Logo.png" alt="Placeholder image">
            </figure>
            </div>
            <div class="card-content">
        
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
            </div>
        </div>
    </div>
</div>